@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center {
  @include flex(center, center);
}

@mixin auto {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../assets/fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.content-who {
  height: 100vh;
  @include flex;
}

// Header

.header {
  @include flex-center;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease-in-out;
  &.scrolled {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }
  .content-logo {
    @include flex(start);
    width: 33.33%;
    margin-left: 2.5em;
    .logo {
      width: 41.67px;
      height: 20px;
    }
  }
  .content-link {
    @include flex-center;
    width: 33.33%;
    gap: 1em;
    .nav-button {
      @include flex;
      width: 82px;
      height: 32px;
      border-radius: 100px;
      background: linear-gradient(0deg, #fff, #e2e2e2, #fff);
      border: 2px solid transparent;
      font-size: 16px;
      cursor: pointer;
      color: #707070;
      position: relative;
      z-index: 1;
      font-family: "PP Neue Montreal", sans-serif;
      font-weight: 200;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100px;
        background: #f4f4f4;
        z-index: -1;
        padding: 2px;
        box-sizing: border-box;
      }
      &.active {
        background-color: #000;
        color: #fff;
        &::before {
          background: #000;
          border: none;
        }
      }
    }
  }
  .content-link-contact {
    @include flex(end);
    width: 33.33%;
    margin-right: 2.5em;
    .contact-button {
      @include flex;
      width: 97px;
      height: 32px;
      border-radius: 100px;
      cursor: pointer;
      background-color: #181818;
      color: #fff;
      font-size: 16px;
      border: none;
      box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.4);
      font-family: "PP Neue Montreal", sans-serif;
      font-weight: 200;
    }
  }
}

// Footer

.footer {
  @include flex-center;
  height: 634px;
  background-color: #ff4500;
  .content-logo-footer {
    @include auto;
    @include flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .logo-footer {
      height: 204.96px;
      width: 427px;
      align-self: flex-start;
      margin-top: 3em;
      margin-left: 2em;
    }
    p {
      color: #181818;
      align-self: flex-start;
      margin-left: 2em;
      margin-top: auto;
      margin-bottom: 2em;
      font-size: 14px;
    }
  }
  .content-link-footer {
    @include auto;
    @include flex-center;
    width: 0%;
  }
}

// DropArrow

.drop-arrow {
  @include flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }
  &.visible {
    opacity: 1;
    transform: translateY(0);
    z-index: 1000;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

//Front

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  30% {
    transform: translateY(-5px) rotate(-1deg);
  }
  50% {
    transform: translateY(-8px) rotate(1deg);
  }
  70% {
    transform: translateY(-5px) rotate(-0.5deg);
  }
}

.content-front {
  @include auto;
  @include flex(end);
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  .content-logo-front {
    @include flex-center;
    @include auto;
    img {
      animation: bounce 3s ease-in-out infinite;
      height: 150px;
      &:hover {
        animation: shake 0.3s ease-in-out;
      }
    }
  }

  .content-title-front {
    @include flex-center;
    @include auto;
    flex-direction: column;
    h1 {
      @include flex-center;
      flex-direction: column;
      color: #181818;
      font-size: 65px;
      font-weight: 500;
      font-family: "PP Neue Montreal", sans-serif;
      line-height: 70px;
      margin-bottom: 0;
      margin-top: 1em;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      font-family: "PP Neue Montreal", sans-serif;
      margin-top: 1em;
      margin-bottom: 3em;
      .grey-text {
        color: #d9d9d9;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #ff4500;
        }
      }
    }
  }
  .content-arrow-front {
    @include flex-center;
    @include auto;
    margin-bottom: 5em;
    img {
      cursor: pointer;
      height: 20px;
    }
  }
}

// description

.content-description {
  @include auto;
  @include flex;
  .content-txt-description {
    @include flex(start, start);
    flex-direction: column;
    width: 50%;
    height: 85vh;
    padding: 3em 0 3em 3em;
    h2 {
      font-size: 42px;
      font-family: "PP Neue Montreal", sans-serif;
      margin-bottom: 0;
      margin-top: 4.5em;
      font-weight: 500;
    }
    p {
      font-weight: 300;
      margin-top: 0.5em;
      font-size: 18px;
    }
  }
  .content-dropdown-description {
    @include flex(start, start);
    width: 50%;
    height: 85vh;
    padding: 3em 3em 3em 0;
    .content-dropdown {
      @include flex;
      @include auto;
      height: 50vh;
      margin-top: 11em;
      align-items: inherit;
      .cards-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;

        .dropdown-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 48px;
          font-weight: bold;
          font-family: "PP Neue Montreal", sans-serif;
          width: 100%;
          padding: 0.5em 0;

          .left-content {
            display: flex;
            align-items: center;
            gap: 1em;
            font-size: 38px;
            color: rgba(0, 0, 0, 0.4);
          }

          .shape {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            background-color: white;
            margin-left: 0.2em;
          }

          .square {
            border: 4px solid rgba(0, 0, 0, 0.4);
          }

          .circle {
            border-radius: 50%;
            border: 4px solid rgba(0, 0, 0, 0.4);
          }

          .triangle {
            width: 0;
            height: 0;
            border-left: 15.33px solid transparent;
            border-right: 15.33px solid transparent;
            border-bottom: 30px solid white;
            position: relative;
            margin-left: 0.4em;

            &::before {
              content: "";
              position: absolute;
              top: -7.9px;
              left: -22px;
              border-left: 22px solid transparent;
              border-right: 22px solid transparent;
              border-bottom: 42.33px solid rgba(0, 0, 0, 0.4);
              z-index: -1;
            }
          }

          .toggle-button {
            color: rgba(0, 0, 0, 0.4);
            background: none;
            border: none;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
          }
        }

        .separator {
          width: 100%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.4);
          margin-bottom: 1em;
        }

        &:hover .separator {
          background-color: #181818;
        }

        &:hover .square {
          border: 4px solid black;
        }

        &:hover .circle {
          border: 4px solid black;
        }

        &:hover .triangle {
          &::before {
            border-bottom: 42.33px solid rgb(0, 0, 0);
          }
        }

        &:hover .toggle-button {
          color: #181818;
          transform: rotate(0deg);
        }

        &:hover .left-content {
          color: #181818;
        }

        &:hover .dropdown-content {
          opacity: 1;
          max-height: 200px;
        }

        .dropdown-content {
          font-size: 18px;
          padding: 0.2em;
          border-radius: 8px;
          width: 100%;
          font-family: "PP Neue Montreal", sans-serif;
          font-weight: 200;
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease, opacity 0.3s ease;
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Slideshow

.content-slideshow {
  @include auto;
  @include flex;
  flex-direction: column;

  .content-txt-slideshow {
    @include flex(start);
    @include auto;
    height: 20vh;

    .content-para-slideshow {
      padding-left: 3em;

      h2 {
        font-size: 42px;
        font-family: "PP Neue Montreal", sans-serif;
        font-weight: 500;
        margin-bottom: 0;
      }

      p {
        font-weight: 300;
        font-size: 18px;
        margin-top: 0.5em;
      }
    }
  }

  .slideshow {
    @include flex;
    @include auto;
    flex-direction: column;
    position: relative;
    height: 650px;
    margin-top: 1em;
    overflow-x: hidden;

    .content-cards-slideshow {
      width: 960px;
      height: 620px;
      position: relative;
      z-index: 100;
    }

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.9s ease-in-out, filter 0.5s ease-in-out;
      opacity: 0;
      transform: scale(0.85) translateX(-120%) rotateY(-10deg);
      filter: blur(8px);

      &.active {
        opacity: 1;
        transform: scale(1) translateX(0) rotateY(0);
        filter: blur(0);
        z-index: 10;
      }

      &.prev {
        opacity: 0.5;
        transform: scale(0.85) translateX(-130%) rotateY(-15deg);
        top: 30%;
        left: 50px;
        filter: blur(0px);
        cursor: pointer;
        width: 80%;
        height: 28em;
      }

      &.next {
        opacity: 0.5;
        transform: scale(0.85) translateX(130%) rotateY(15deg);
        top: 30%;
        right: 50px;
        filter: blur(0px);
        cursor: pointer;
        width: 80%;
        height: 28em;
      }

      .slide-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      }

      .slide-text {
        position: absolute;
        bottom: 2%;
        left: 2%;
        padding: 10px 15px;
        padding-right: 10em;
        border-radius: 5px;
        h2 {
          margin-bottom: 0;
          color: 181818;
          font-family: "PP Neue Montreal", sans-serif;
          font-size: 32px;
        }
        p {
          margin-top: 0.5em;
          margin-bottom: 0.2em;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }

    .content-indentation {
      @include auto;
      @include flex;
      height: 10em;
      margin-bottom: 2em;
      gap: 0.5em;
      z-index: 5;

      .indentation {
        width: 10px;
        height: 10px;
        background-color: #1818184d;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &.active {
          background-color: #ff4500;
          transform: translateY(-0.5em);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3),
            0 5px 15px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

// template

.content-templates {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-container {
  position: relative;
  width: 40%;
  height: 40vh;
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  background: linear-gradient(135deg, #007bff, #00bfff);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.circle-item {
  @include flex;
  position: absolute;
  width: 50%;
  height: 170px;
  object-fit: cover;
  transition: transform 0.6s ease-out;
  will-change: transform;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
}
